<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome TO REGISTER</h1>
    <form method="POST" action="/register">
      <input type="email" name="email" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">login <% if (isError) { %> Wrong <% } %></button>
    </form>
  </body>
</html>
